{% extends "main/base.html" %}
{% load static %}

{% block title %}Оформление заказа{% endblock title %}

{% block content %}
    <div class="order-form-container mt-5 d-flex flex-column gap-5">
    <h1 class="text-center mb-1">Оформление заказа</h1>

        <!-- Таблица -->
        <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-light text-center">
                <tr>
                    <th>Питомец</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>

            <!-- Тело таблицы -->
            <tbody>
                {% if cart|length == 0 %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <h3 class="mt-5 mb-5">Ваша корзина пуста</h3>
                            <a href="{% url 'main:product_list' %}" class="default-btn">Список питомцев</a>
                        </td>
                    </tr>
                {% else %}
                    {% for item in cart %}
                        <tr>

                            <!-- Питомец -->
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{ item.product.image.url }}" alt="" style="width: 225px; height: 180px; object-fit: cover; margin-right: 10px;">
                                    <div>
                                        <a href="{% url 'main:product_detail' item.product.slug %}" class="text-dark fw-bold">{{ item.product.name }}</a><br>
                                    </div>
                                </div>
                            </td>

                            <!-- Цена -->
                            <td class="text-center">
                                ${{ item.product.price|floatformat:2 }}
                            </td>

                            <!-- Количество -->
                            <td class="text-center">
                                {{ item.quantity }}
                            </td>

                            <!-- Итого -->
                            <td class="text-center">
                                ${{ item.total_price|floatformat:2 }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Форма с данными покупателя -->
        <div class="form-for-order">
            <h3 class="mb-4">Введите ваши данные</h3>

            <form method="post" class="d-flex gap-5">
                {% csrf_token %}
                <div class="form-blocks d-flex gap-4">
                    <div class="block1 d-flex flex-column gap-1">
                        {{ form.first_name.label_tag }} {{ form.first_name }} <br>
                        {{ form.last_name.label_tag }} {{ form.last_name }} <br>
                        {{ form.middle_name.label_tag }} {{ form.middle_name }} <br>
                        {{ form.city.label_tag }} {{ form.city }} <br>
                        {{ form.street.label_tag }} {{ form.street }} <br>
                        {{ form.house_number.label_tag }} {{ form.house_number }} <br>
                        {{ form.apartment_number.label_tag }} {{ form.apartment_number }} <br>
                        {{ form.postal_code.label_tag }} {{ form.postal_code }} <br>
                        <p class="p-on-order text-center mt-4">Пожалуйста, проверьте информацию перед оплатой</p>
                    </div>
                </div>

                <div class="order-total-info">
                    <div class="total-for-order d-flex flex-column gap-2">
                        <div class="total-view">
                            <h4 class="fw-bold">Итого к оплате: ${{ total_price|floatformat:2 }}</h4>
                        </div>
                        <button class="btn btn-outline-dark">Оформить заказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}