{% extends "main/base.html" %}
{% load static %}

{% block title %}Профиль{% endblock title %}

{% block content %}
    <h1 class="text-center mb-5">История заказов</h1>
    <div class="profile d-flex flex-column gap-4 justify-content-center">

        <!-- Таблица -->
        <div class="profile-history">
        <div class="table-responsive">
            <table class="table table-bordered align-middle">
                <thead class="table-light text-center">
                    <tr>
                        <th>Питомец</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итого</th>
                    </tr>
                </thead>

                <!-- Тело таблицы -->
                <tbody>
                {% if orders|length == 0 %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <h3 class="mt-5">У вас нет заказов</h3>
                        </td>
                    </tr>
                {% else %}
                    {% for order in orders %}
                        <tr class="table-secondary">
                            <td colspan="4">
                                <strong>Заказ №{{ order.id }}</strong><br>
                                Статус заказа: {{ order.tracking_number }}
                            </td>
                        </tr>
                        {% for item in order.items.all %}
                            <tr>

                                <!-- Питомец -->
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ item.product_item.image.url }}" alt="" style="width: 120px; height: 100px; object-fit: cover; margin-right: 10px;">
                                        <div>
                                            <a href="{% url 'main:product_detail' item.product_item.slug %}" class="text-dark fw-bold">{{ item.product_item.name }}</a><br>
                                        </div>
                                    </div>
                                </td>

                                <!-- Цена -->
                                <td class="text-center">
                                    {{ item.product_item.price|floatformat:2 }}$
                                </td>

                                <!-- Количество -->
                                <td class="text-center">
                                    {{ item.quantity }}
                                </td>

                                <!-- Итого -->
                                <td class="text-center">
                                    ${{ item.total_price|floatformat:2 }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <!-- Форма с данными покупателя -->
    <div class="profile-info">
        <h3 class="mb-4 mt-3">Данные пользователя</h3>
            <div class="p-on-order mb-3">
                <p class="block-tag text-start">Введите ваши данные для последующих заказов</p>
            </div>
        <form method="post" class="profile-form">
            {% csrf_token %}
            <div class="form-blocks d-flex gap-4 w-50">
                <div class="block1 d-flex flex-column gap-1 w-50">
                    {{ form.first_name.label_tag }} {{ form.first_name }} <br>
                    {{ form.last_name.label_tag }} {{ form.last_name }} <br>
                    {{ form.phone_number.label_tag }} {{ form.phone_number }} <br>
                    {{ form.city.label_tag }} {{ form.city }} <br>
                    {{ form.street.label_tag }} {{ form.street }} <br>
                    {{ form.house_number.label_tag }} {{ form.house_number }} <br>
                    {{ form.apartment_number.label_tag }} {{ form.apartment_number }} <br>
                </div>
            </div>
            <div class="profile-buttons mt-4 d-flex justify-content-between">
                <button class="btn btn-outline-dark">Сохранить</button>
                <a href="{% url 'users:user_logout' %}" class="text-dark fw-bold">Выйти из аккаунта</a>
            </div>
        </form>
    </div>
{% endblock content %}